<form action="/create" method="POST">
    <h3>Create</h3>

    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>
    <button type="submit" class="btn">Create</button>
</form>

